.admin-container {
    display: flex;
}

.admin-container .prods{
    flex: 2;

}

.admin-container .coupons{
    flex: 1;
}

.admin-container .form label {
    display: inline-block;
    width: 100px;
}

.admin-container .form input {
    display: inline-block;
    width: auto;
}