.quantity-picker {
  
  border-radius: 5px;
  width: 100px;

    
}

.quantity-picker button{
    margin: 0 5px;
    padding: 0px 10px;
        
    
}

.quantity-picker label{
    font-weight: bold;
}